.CommentSection {
  background: #ecf0f1;
  /* width: 80%; */
  margin: 2rem;
}

.Comment {
  background: white;
  position: relative;
}
/* .CommentBox {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
} */
.IconBtn {
  position: absolute;
  right: 0;
  top: 0;
}
