.Modal {
  /* display: flex;

  justify-content: center;
  align-items: center; */
  margin: 5em;
  text-align: center;
}

.container img {
  width: auto;
  max-height: 40rem;
  height: auto;
}
.title {
  text-transform: capitalize;
}
.author {
  font-size: 2rem;
}
