/* .Modal {
  /* display: flex;

  justify-content: center;
  align-items: center; */
/* margin: 5em;
  text-align: center; */
.container img {
  width: auto;
  max-height: 40rem;
  height: auto;
}
.posttitle {
  text-transform: capitalize !important;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}
.author {
  font-size: 1.6rem;
}
