.CardModal {
  text-align: center;

  display: "flex";
  justify-content: "center";
  align-items: "center";
}
.Card img {
  width: 100%;
  height: 50vw;
  /* background-position: center center; */
}
@media (min-width: 600px) {
  .Card img {
    width: 100%;
    height: 30vw;
  }
}
/* md */
@media (min-width: 992px) {
  .Card img {
    width: 100%;
    height: 20vw;
  }
}
/* lg */
@media (min-width: 1200px) {
  .Card img {
    width: 100%;
    height: 20vw;
  }
}
.title {
  text-transform: capitalize;
}

.fas {
  color: "#ff7cff" !important;
}
