.HomePage {
  height: calc(100vh - 150px);
  display: flex;
  align-items: center;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: "12px";
  box-shadow: 1;
}
/* .HomePage h1 {
  font: 400 5vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff44a2, 0 0 0.5em #ff44a2,
    0 0 0.1em #ff44a2;
  /* 0 10px 3px #000; */
.Toastify {
  background-color: #f7f7f9;
}
.Toastify span {
  color: #dd44ff;
}
