@import url(//fonts.googleapis.com/css?family=Vibur);
.DecadePage h2 {
  font: 400 5vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff44a2, 0 0 0.5em #ff44a2,
    0 0 0.1em #ff44a2;
  /* 0 10px 3px #000; */
}
.DecadePage h2 b span {
  animation: blink linear infinite 2s;
}
.DecadePage h2 b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}
/* @keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #c70073;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #c70073;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #c70073;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
} */
