.section {
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #f7f7f9;
}
/* .profilecard {
  width: 10rem !important;
  height: 10rem !important;
}
.profilecard image {
  height: 5rem;
  width: 5rem;
} */
