.AppBar {
  text-decoration: none;
  padding-bottom: 5px;
  background-color: white !important;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
@import url(//fonts.googleapis.com/css?family=Vibur);

.logo b {
  font: 400 5vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff44a2, 0 0 0.5em #ff44a2,
    0 0 0.1em #ff44a2;
  /* 0 10px 3px #000; */
}
.logo b span {
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2) {
  animation: blink linear infinite 3s;
}

/* //blinking logo-may be too annnoying */
/* @keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #c70073;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #c70073;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #c70073;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  } */
/* } */
/* logo css by @nodws */

.hamburgerMenu {
  color: "#ff7cbe";
  position: fixed !important;
  top: 0;
  right: 0;
}
